{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



{% for cat in categories %}
{% if not cat.parent %}
<p>
  <div class="card card-body" id="{{cat.id}}">
    <a data-toggle="collapse" href="#childrenOf{{cat.id}}" role="button" aria-expanded="false"
      aria-controls="childrenOf{{cat.id}}" onclick="getChildren({{cat.id}}, 1)">{{cat.name}} <i
        class="fas fa-chevron-down"></i>
    </a> <a href="{% url 'edit' id=cat.id %}">Edit</a>
    <span class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#addSubCatModal" id="addCat{{cat.id}}" onclick=addChild({{cat.id}})>Add One <i class="fas fa-plus"></i> </span>
  </div>
  <div class="collapse" id="childrenOf{{cat.id}}">
  </div>
</p>

{% endif %}
{% endfor %}
<div class="card card-body" id="addCat">
  <span>Add Category <i class="fas fa-plus"></i> </span>
</div>

<div class="col-12" id="catInput">
  <form method="POST">
    {% csrf_token %}
    {{ cat_form|crispy }}
    <button type="submit" class="btn btn-primary mt-2" name="newCat" value="newCat">Submit</button>
  </form>
</div>
<!-- Modals -->
<!-- Edit Category -->
<div class="modal fade" tabindex="-1" role="dialog" id="editCatModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit <span id="catName"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ edit_cat_form|crispy }}
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Subcategory -->
<div class="modal fade" tabindex="-1" role="dialog" id="addSubCatModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add A New Subcategory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ sub_cat_form|crispy }}
          <button type="submit" class="btn btn-primary mt-2" name="newSub">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- End Modals -->
{% endblock content %}