{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



{% for cat in categories %}
{% if not cat.parent %}
<p>
  <div class="card card-body" id="{{cat.id}}">
    <div class="d-flex flex-row justify-content-between mb-2">
      <a class="h4" data-toggle="collapse" href="#childrenOf{{cat.id}}" role="button" aria-expanded="false"
        aria-controls="childrenOf{{cat.id}}" onclick="getChildren({{cat.id}}, 1)">{{cat.name}} <i
          class="fas fa-chevron-down"></i>
      </a>
      <div class="d-flex flex-row justify-content-end mb-2">
        <span data-toggle="tooltip" data-placement="top" title="Add a subcategory to {{cat.name}}"><span class="btn btn-sm btn-success mr-2" data-toggle="modal" data-target="#addSubCatModal" id="addCat{{cat.id}}"
        onclick=addChild({{cat.id}})><i class="fas fa-plus"></i> 
      </span></span>
      <a class="btn btn-sm btn-info mr-2" href="{% url 'edit' id=cat.id %}" data-toggle="tooltip" data-placement="top" title="Edit or move {{cat.name}}"><i class="fas fa-edit"></i></a>
      </div>
      
    </div>
    <div class="d-flex flex-row justify-content-start mb-2">

    </div>


    <div class="collapse collapse-bottom-border" id="childrenOf{{cat.id}}">
    </div>
  </div>
</p>

{% endif %}
{% endfor %}
<div class="card card-body" id="addCat">
  <span>Add Category <span class="btn btn-sm btn-success" data-toggle="modal" data-target="#addCatModal"><i class="fas fa-plus"></i></span></span>
</div>

<!-- Modals -->
<!--Add Category-->
<div class="modal fade" tabindex="-1" role="dialog" id="addCatModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a New Category</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            {{ cat_form|crispy }}
            <button type="submit" class="btn btn-primary mt-2" name="newCat">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Edit Category -->
<div class="modal fade" tabindex="-1" role="dialog" id="editCatModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit <span id="catName"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ edit_cat_form|crispy }}
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Subcategory -->
<div class="modal fade" tabindex="-1" role="dialog" id="addSubCatModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add A New Subcategory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ sub_cat_form|crispy }}
          <button type="submit" class="btn btn-primary mt-2" name="newSub">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- End Modals -->
{% endblock content %}